/*预设*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
dl,
dt,
dd,
ul,
ol,
li,
button,
input,
textarea {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.inner {
	width: 1140px;
	margin: 0 auto;
}

section.bigBox {
	height: 550px;
	position: relative;
	border: 1px dotted #ccc;
	z-index: 3;
}

section.bigBox .box {
	height: 500px;
	width: 500px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 1px solid #ccc;
	transform-style: preserve-3d;
	perspective: 500px;
}

#box {
	position: absolute;
	height: 50px;
	width: 500px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

section.bigBox .pic {
	position: relative;
	height: 500px;
	width: 500px;
	transform-style: preserve-3d;
	transform: translateZ(-500px) rotateX(-30deg) rotateY(-30deg)
}

section.bigBox .mian {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	transform: translateZ(500px);
	box-shadow: 0 0 5px 1px #fff;
}

section.bigBox .mian1 {
	transform: translateZ(250px)
}

section.bigBox .mian2 {
	transform: translateY(250px) rotateX(-90deg)
}

section.bigBox .mian3 {
	transform: translateY(-250px) rotateX(90deg)
}

section.bigBox .mian4 {
	transform: translateX(-250px) rotateY(-90deg)
}

section.bigBox .mian5 {
	transform: translateX(250px) rotateY(90deg)
}

section.bigBox .mian6 {
	transform: translateZ(-250px)
}

section.bigBox .mian img {
	height: 100%;
	width: 100%;
}